.rectangle {
    width: 260px;
    height: 260px;
    border: 2px solid #61dafb;
    border-radius: 15px;
    padding: 10px;
    margin-left: 50%;
    text-align: center;

}

.performance {
    width: 200px;
    height: 100px;
    background-color: #61dafb;
    border-radius: 15px;
    color: darkred;
    padding: 5px;
    margin-left: 20px;


}

.stopPerformance {
    width: 200px;
    height: 100px;
    background-color: #61dafb;
    border-radius: 15px;
    color: black;
    padding: 5px;
    margin-left: 20px;

}

.total {
    width: 200px;
    height: 50px;
    border: 2px solid #61dafb;
    justify-content: center;
    padding: 5px;
    align-items: center;
    border-radius: 15px;
    margin-left: 20px;

}


.active {
    width: 60px;
    height: 30px;
    background-color: #61dafb;
    padding: 5px;

}